<!DOCTYPE html>
<html>
<head>
	<title><%=title %></title>
</head>
<body>
	<div class="container">
	<form action="post">
		<label for="mov">
			<strong>Movie Name: </strong>
		</label>
		<input type="text" placeholder="Enter movie name here"><br>
		<input type="submit" value="Search">
	</form></div>
<h1>Movie Name : <%=message1 %></h1>
<h1>Release Date : <%=message2 %></h1>
<h1>Rating : <%=message3 %></h1>
</body>
</html>		